.content {
    border-left: solid 0.2em;
}

.red {
    border-left-color: red ;
}

.orange {
    border-left-color: orange !important;
}

.green {
    border-left-color: green !important;
}

.blue {
    border-left-color: blue !important;
}

.violet {
    border-left-color: #eb5fed !important;
}