img {
    width: 100%
}
.photo {
    margin-bottom: 2em;
}
.container-fluid{
    max-width: 1000px;
}
.button-zone{
    text-align: right;
}
.button-on-picture {
    position: absolute;
    left: 100%;
    margin-left: -50px;
    bottom: 0;
}
.pic-zone {
    position: relative;
}