#add-user-button {
    border-style: dashed;
    border-width: 0.5px;
    border-color: black;
}

.avatar-div {
    display: inline-block;
    position: relative;
}

.star-on-top {
    position: absolute;
    left: 100%;
    margin-left: -13px;
    top: -7px;
    color: gold;
    font-size: 0.7em;
}

